<ion-item class="input-icon-inside">
  <ion-label class="input-icon-inside-label" position="fixed">


    <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="home/search/option" transform="translate(-27.000000, -429.000000)" fill="#6F85FF">
          <g id="you-are-here-cage" transform="translate(27.000000, 414.000000)">
            <circle id="here-icon" cx="5" cy="20" r="5"></circle>
          </g>
        </g>
      </g>
    </svg>
  </ion-label>
  <ion-input placeholder="Your Location" type="_type" debounce=1250 [(ngModel)]="_ngModel"></ion-input>
</ion-item>