<!-- <ion-item>
  <ion-avatar item-start>
    <img src="_addressLabel">
  </ion-avatar>
  <h2>{{_addressName}}</h2>
  <p>{{_addressStreet}}</p>
</ion-item> -->
<!-- <ion-item class="input-icon-inside">
    <ion-label text-wrap>
      <ion-text>
        <h3>{{_addressName}}</h3>
      </ion-text>
      <p>{{_addressStreet}}</p> -->
<!-- <ion-text color="secondary">
        <p>Paragraph line 2 secondary</p>
      </ion-text> -->
<!-- </ion-label>
  </ion-item> -->

<ion-card>
    <ion-item>
        <ion-avatar slot="start">
          <img [src]="_conditionWeather" *ngIf="_conditionWeather"/>
        </ion-avatar>
        <ion-avatar slot="end">
          <img [src]="_iconDirection"/>
        </ion-avatar>
        <ion-label text-wrap>
          <h3>{{_textRoute}}</h3>
          <p>{{_textWeather}}</p>
        </ion-label>
      </ion-item>
</ion-card>